
@font-face {
  font-family: 'police Batman';
  src: url(batmfa__.ttf) format('truetype'); /* Notre police type Batman */
}


body{
    background-color: black;
}



:root {
    --Title: rgb(241, 238, 244);
  }
  

.joker{
color:var(--Title);
font-family:'police Batman', sans-serif;
padding: 10px;
border: 2px solid rgb(10, 218, 107);
border-radius: 10px;

}


p{
white-space: pre-wrap;
color: var(--Title);
margin-right: 20%;
margin-left: 20%;

}

.sec1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

header {
  background-color: black; /* Gris foncé */
  text-align: center;
  padding: 1em 0;
}

header h1 {
  color: yellow; /* Couleur signature de Batman */
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family:'police Batman', sans-serif;
}

nav ul li a:hover {
  color: yellow;
}

h3{
  text-decoration: underline;
  color: rgb(10, 218, 107);
  font-size: large;
  text-align: center;
  font-family: 'police Batman';
}

h2{
  text-decoration: underline;
  color: rgb(10, 218, 107);
  font-size: large;
  text-align: center;
  font-family: 'police Batman';
 
}

.Para1{
  line-height: 2;
  margin-right: 20%;
  margin-left: 20%;
}
/* Pour les smartphones */
@media screen and (max-width: 767px) {
  /* Styles pour les smartphones */
  
  body {
    background-color: black;
  }
  
  .joker {
    color: var(--Title);
    font-family: 'police Batman', sans-serif;
    padding: 10px;
    border: 2px solid rgb(10, 218, 107);
    border-radius: 10px;
  }
  
  .Para2 {
    white-space: pre-wrap;
    color: var(--Title);
    margin-right: 20%;
    margin-left: 20%;
  }
  
  .sec1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  header {
    background-color: black;
    text-align: center;
    padding: 1em 0;
  }
  
  header h1 {
    color: yellow;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'police Batman', sans-serif;
  }
  
  nav ul li a:hover {
    color: yellow;
  }
  
  h3, h2 {
    text-decoration: underline;
    color: rgb(10, 218, 107);
    font-size: large;
    text-align: center;
    font-family: 'police Batman';
  }
  
  .Para1 {
    line-height: 2;
    margin-right: 20%;
    margin-left: 20%;
  }
}


/* Affiche notre nav verticalement "colum" sur les petites résolutions*/
@media screen and (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .joker {
    text-align: center;
  }
}
@media (max-width: 768px) { /* Permet d'afficher mes images 2 par 2 sur 2 lignes */
  .sec1 img {
      width: calc(50% - 10px); /* Calcule la moitié de la largeur disponible */
      max-width: 300px; /* Limite maximale de largeur */
      height: auto; /* Maintient le rapport d'aspect */
  }
}
footer{
  text-align: center;
}

html{
  scroll-behavior:smooth
}
.totop{             /* Bouton back to top button*/
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color:rgb(10, 218, 107);
  padding: 20px;
  border-radius: 20px;
}