/* Style général */
@font-face {
  font-family: 'police Batman';
  src: url(batmfa__.ttf) format('truetype'); /* Police special gotham */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Couleur sombre pour Gotham */
    color: white;
  }
  
 .video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
 .idk1{
   text-align: center;
   white-space: pre-wrap;

 }
  

  header {
    background-color: #000000; /* Gris foncé */
    text-align: center;
    padding: 1em 0;
  }
  
  header h1 {
    color: yellow; 
    font-family:'police Batman', sans-serif;
    font-size: 350%;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    
  }
 
  nav ul li {
    margin: 0 15px;
    
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-family:'police Batman', sans-serif;
  }
  
  nav ul li a:hover {
    color: yellow;
    
    
  }
  
  /* Section "Personnages" */
  #personnages {
    display: flex;
    justify-content: space-around;
    padding: 2em;
  }
  
  .personnage {
    text-align: center;
    max-width: 300px;
  }
  
  .personnage img {
    width: 100%;
    border: 3px solid yellow;
    border-radius: 10px;
  }
  
  .personnage h3 {
    color: yellow;
  }
  
  .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: orange;
  }
  
  /* Footer */
  footer {
    background-color: #000000;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
  }
  
  footer a {
    color: yellow;
    text-decoration: none;
  }
  

.HomeTittle{
  text-align: center;
  font-family: 'police Batman';
  color: yellow;
  
}

.personnage img {
  width: 100%;
  border: 3px solid yellow;
  border-radius: 10px;
}
  
  

.idk1 {
  text-align: center;
  white-space: pre-wrap;
}


html{
  scroll-behavior:smooth
}
.totop{             /* Bouton back to top button*/
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #FFBF00;
  padding: 20px;
  border-radius: 20px;
}

/* Réduction pour les tablettes pour le titre de notre page */
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 5vw;
  }
}

/* Réduction pour les smartphones */
@media screen and (max-width: 480px) {
  header h1 {
    font-size: 4vw;
  }
}
/* Affiche notre nav verticalement "colum" sur les petites résolutions*/
@media screen and (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }
}

/* Affiche veritcalement  notre Id personnages*/
@media (max-width: 768px) {
  #personnages {
    flex-direction: column;
    justify-content: center;
  }
}
